SECRET_KEY=
# Set to True for local development. MUST be False in production!
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
DATABASE_URL=