# Environment variables
.env

# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Archives
*.zip

# Django Media / User Uploads
media/

venv/
__pycache__/
.env
db.sqlite3
.DS_Store